.thumbnail-image {
  height: 73px;
}

@media screen and (min-width: 768px) {
  .thumbnail-image {
    height: 130px;
  }
}

.button-thumbnail {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.list-button-thumbnail {
  list-style-type: none;
}
